<div class="BP-modalBox BP-messageBox BP-errorBox">
  <div class="BP-messageBox__close-btn">
    <i class="bp-icon-close"></i>
  </div>
  <div class="BP-messageBox__header text-center">
    <div class="BP-messageBox__messageIcon">
      <i class="bp-icon-close"></i>
    </div>
    <div class="BP-messageBox__header-title">ERROR</div>
    <div class="BP-messageBox__messageTxt ">
      There is an issue with the data entered.
    </div>
  </div>
  <div class="BP-messageBox__content">
    <p>Please check the following</p>
    <div class="BP-messageBox__table">
      <table>
        <tbody>
          <tr>
            <th>Column</th>
            <th>Line Number</th>
          </tr>
          <tr>
            <td>Slip_ID</td>
            <td>124</td>
          </tr>
          <tr>
            <td>Player_ID</td>
            <td>356</td>
          </tr>
          <tr>
            <td>SportsID</td>
            <td>501</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="BP-messageBox__footer text-center">
    <div class="grid-center-noGutter">
      <div class="col-6">
        <button class="BP-btn BP-btnOrange BP-btnLarge">BACK TO ERROR</button>
      </div>
    </div>
  </div>
</div>
