<div class="BP-footerLinks-content">
    <div class="BP-contactUs text-center">
        <ul class="BP-contactUS-infoList">
          <li>
            <div class="BP-contactUS-infoList__title">Sales Queries</div>
            <div class="BP-contactUS-infoList__name">Andrew Dagnall <span> - CEO Bettorlogic</span></div>
            <a href="mailto:adagnall@bettorlogic.com">adagnall@bettorlogic.com</a>
          </li>
          <li>
              <div class="BP-contactUS-infoList__title">Technical Queries</div>
              <div class="BP-contactUS-infoList__name">Raj Kalakota <span> - Bettorlogic</span> </div>
              <a href="mailto:adagnall@bettorlogic.com">adagnall@bettorlogic.com</a>
            </li>
        </ul>
         
        
    </div>
</div>

