<div class="BP-footerLinks-content">
    <div class="BP-footerLinks-title">
        Discover the BettorLogic Journey…
    </div>
    <p>
        <b>
            Founded by CEO, Andrew Dagnall, in 2004 as StatsOnSport a B2C subscription service providing editorial specifically for bettors
            and covering football, tennis, cricket, golf, rugby union and F1.
        </b>
    </p>
    <p>
        Rebranded as Bettorlogic in 2009, when Andrew Black co founder of Betfair became the major shareholder, products were developed
        and delivered via XML to sportsbooks around the world that created reasons for their customers to have a bet.
    </p>
    <p>
        Since then the company has won several awards including EGR Innovation in Sports Betting 2014, CV Magazine 2017 Innovation
        in Production and was recently listed in the 2018 Silicon Review as one of the Top 50 fastest growing companies.
    </p>
    <p>
        In 2015 Bettorlogic started gathering betting history data on behalf of clients and is currently building the software that
        will be licenced to sportsbooks so that they can enter data and use the resultant knowledge to empower CRM, Marketing
        and Risk Management as well as providing the engine for personalised display.
    </p>
    <p>
        February 2016, Bettorlogic set up SportsIT a specialist IT development resource based in Hyderabad. Within two years, the
        company has grown from a staff of five to over 80 employees. One of the key strengths of the company is the time
        Bettorlogic has spent educating the development team in betting so that they have a full understanding of the industry.
    </p>
</div>


<div class="space-10"></div><div class="space-10"></div>


<div class="BP-testimonial">
    <div class="BP-testimonial__item">        
        
        <div class="BP-testimonial_attribution">
            <img src="/assets/img/betway-logo.png" class="BP-testimonial-logo" />
            <div class="BP-testimonial__attribution-details">
                <div class="BP-testimonial__name">Jaswant Deol</div>
                <div class="BP-testimonial__company">Betway Sportsbook Director</div>
            </div>
        </div>
        <div class="BP-testimonial__quote">
            The HorseFinder widget has proved very popular with our users and helped boost betting activity. The Bettorlogic team are
            extremely talented and have a good grasp of smart technology allowing them to develop engaging widgets for our
            customer base.
        </div>
    </div>
</div>