// ============================================================
// My Accounts Page Layout
// ============================================================
.BP-accountsLeftContent{
	height: 100%;
	background-color: #EEE;
	border-right: 1px solid #cfcfcf;
}
.BP-userProfile{
	text-align: center;
	padding: 20px 10px;
	.BP-accounts__profilePic{

		img{
			border-radius: 50%;
			border: 2px solid $yellow;
		}
	}
	.BP-email {
		font-size: 11px;
	}
}

.BP-accountsMenu{
	display: inline-block;
	width: 100%;
	li{
		height: 42px;
		list-style-type: none;
		line-height: 38px;
		cursor: pointer;
		text-align: left;
		padding-left: 14px;
		border-left: 4px solid transparent;

		&.active{
			background-color: $white;
			border-left: 3px solid $yellow;
			left: 1px;
			position: relative;
		}
	}
}

.BP-account__title{
	font-size: 21px;
	font-weight: 500;
	padding-bottom: 15px;
}



