
$BP-black: #333333;
$lightBlack: #646464;
$white: #FFFFFF;

$leftMenubg: #DDDDDD;

$greyDark: #707070;
$greyDarken1: #666666;
$greyDarken2: #B0B0B0;
$greyDarken3: #B7B7B7;
$greyLighten: #D0D0D0;
$greyLighten1: #CFCFCF;
$greyLighten2: #D7D7D7;
$greyLighten4: #DADADA;
$greyLighten3: #959595;

$black: #000000;
$red: #ED212B;
$yellow: #FFB400;
$green: #4BB059;
$darkGreen: #43A63E;
$orange: #f95200;
$blue: #11BAD5;
$skyBlue: #18b9d4;

$BP-bgColor-leftMenu : #444444;

$boxWidth: 428px;
$boxHeight: 34px;
$borderRadius: 4px;

$fonts-path: "../fonts";

$BP-table-borderColor: #DADADA;
$BP-table-bgColor: #F8F8F8;
$BP-table-headerBorderColor: #EBEBEB;

$BP-formInput-height: 36px;
$BP-formInput-border-color: $greyDarken2;
$BP-formInput-border-radius: 4px;
$BP-formInput-bg-color: $white;
$BP-formInput-disabled-color: #E3E3E3;

$BP-btn-height: 36px;
$BP-btnLarge-height: 46px;