
/*------------------------------------------------------------------------------------*/

$BLRetail-inFocus-header-bg: #F5A623;
$BLRetail-inFocus-header-txtColor: #2B3245;
$BLRetail-inFocus-header__subLogo-fontSize: 34px;
$BLRetail-inFocus-header__dateTime-fontSize: 22px;

$BLRetail-body-bg: #383F52;

$BLRetail-matchBox-bg: #FFF;
$BLRetail-matchBox-live-header-bg1: #3023AE;
$BLRetail-matchBox-live-header-bg2: #53A0FD;
$BLRetail-matchBox-live-header-bg3: #B4EC51;
$BLRetail-matchBox-pre-header-bg1: #0D8970;
$BLRetail-matchBox-pre-header-bg2: #03FFD7;
$BLRetail-matchBox-tennis-live-header-bg1: #519b22;
$BLRetail-matchBox-tennis-live-header-bg2: #d1de29;
$BLRetail-matchBox-tennis-pre-header-bg1: #53A0FD;
$BLRetail-matchBox-tennis-pre-header-bg2: #3023AE; 
$BLRetail-matchBox-header-txtColor: #FFF;

$BLRetail-matchBox-fixtureDetails-borderColor: #DCDCDC;  

$BLRetail-matchBox__matchMinute-txtColor: #2B3245;
$BLRetail-matchBox-kickOff-txtColor: #fff;
$BLRetail-matchBox__FB-scoreBox-bg: #2B3245;
$BLRetail-matchBox__FB-scoreBox-borderColor: #979797;
$BLRetail-matchBox__FB-scoreBox-txtColor: #FFF;
$BLRetail-matchBox__setPoints-txtColor: #00B746;
$BLRetail-serving-bg: #FF5B04;

$BLRetail-matchBox__league-txtColor: #797979;
$BLRetail-matchBox__fixture-txtColor: #2B3245;

$BLRetail-matchBox__factAt-txtColor: #FF5B04;
$BLRetail-matchBox__RTB-txtColor: #4A4A4A;

$flickity-page-dots-activeBG: #FF5203;

$BLRetail-btnOdds-bg: #F5A623;
$BLRetail-btnOdds-txtColor: #2B3245;