$fonts-path: "fonts";
/*------------------------------------------------------------------------------------*/

$BLRetail-inFocus-header-bg: #3a3a3a;
$BLRetail-inFocus-header-txtColor: #FFF;
$BLRetail-inFocus-header-logo-bg: #c8102e;
$BLRetail-inFocus-header__subLogo-fontSize: 34px;
$BLRetail-inFocus-header__dateTime-fontSize: 22px;

$BLRetail-body-bg: #383F52;

$BLRetail-matchBox-bg: #FFF;
$BLRetail-matchBox-live-header-bg1: #c8102e;
$BLRetail-matchBox-live-header-bg2: #f9a641;
$BLRetail-matchBox-live-header-bg3: #fad961;
$BLRetail-matchBox-pre-header-bg1: #898989;
$BLRetail-matchBox-pre-header-bg2: #03ffd5;
$BLRetail-matchBox-tennis-live-header-bg1: #c8102e;
$BLRetail-matchBox-tennis-live-header-bg2: #d1de29;
$BLRetail-matchBox-tennis-pre-header-bg1: #898989;
$BLRetail-matchBox-tennis-pre-header-bg2: #53A0FD;
$BLRetail-matchBox-header-txtColor: #FFF;

$BLRetail-matchBox-fixtureDetails-borderColor: #DCDCDC;  

$BLRetail-matchBox__matchMinute-txtColor: #FFF;
$BLRetail-matchBox-kickOff-txtColor: #FFF;
$BLRetail-matchBox__FB-scoreBox-bg: #2B3245;
$BLRetail-matchBox__FB-scoreBox-borderColor: #979797;
$BLRetail-matchBox__FB-scoreBox-txtColor: #FFF;
$BLRetail-matchBox__setPoints-txtColor: #00B746;
$BLRetail-serving-bg: #FF5B04;

$BLRetail-matchBox__league-txtColor: #797979;
$BLRetail-matchBox__fixture-txtColor: #2B3245;

$BLRetail-matchBox__factAt-txtColor: #FF5B04;
$BLRetail-matchBox__RTB-txtColor: #4A4A4A;

$flickity-page-dots-activeBG: #FF5203;

$BLRetail-btnOdds-bg: #c8102e;
$BLRetail-btnOdds-txtColor: #FFF;