/*.carousel-inner .active.left { left: -33%; }
.carousel-inner .next        { left:  33%; }
.carousel-inner .prev        { left: -33%; }*/
.carousel-control {width:0px;}
.carousel-control.left,.carousel-control.right {background-image:none;}

.carousel-selection-fixture{
	border: 2px solid #e9edf1;
    border-radius: 50px;
    display: block;
    margin: 20px 2px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    cursor: pointer;
	
}
/*.pull-left {bottom: 0; overflow: hidden; height:70%;}
.pull-right {bottom: 0; overflow: hidden; height:70%;}*/
.carousel-selection-fixture .premier-team{
   width: 100px;
   margin: 0px;
}
.carousel-selection-fixture .premier-team .team-name{
    line-height: 18px;
     bottom: 15px;
     margin: 0px 5px;
}
.carousel-selection-fixture .premier-team img{
  margin-top: 10px;  
  width: 40px;
}
.game-selection .ticket{
	min-width: 40px;
	margin: 12px 10px;
	border-radius: 8px 8px 8px 0px;
	padding: 3px 5px;
	line-height: 30px;
	cursor: pointer;
	background-color: #fff;
	display: inline-block;
}
.fxt-time{
	text-transform: uppercase;
	margin-top: -12px;
	padding-bottom: 5px;
	color: #fff !important;
}
.game-slider .carousel-control{
	top: 40%;
    width: 3%;
	opacity: 1;
    text-shadow: none;
}
.selected-fixture{
    background-color: #e9edf1;
    border:2px solid #e9edf1;
}
.selected-fee{
    background-color:#f8ec1c !important;
}
.game-slider .carousel-control.left{
	margin-left: -30px;
}
.game-slider .carousel-control.right{
	margin-right: -30px;
}
.carousel-selection-fixture h3{ 
	font-size: 1em;
	left: 0; 
	width: 100px; 
	background-color: #fff;
	border-radius: 12px;
	height: 20px;
	margin-top: -25px;
	text-align: center;
}
.grey-bg {
	background-color: #D1D8E1;
	width:100%;
	display: block;
	float: left;
}
.entry-fee { display: inline-block; min-width: 150px; padding-top: 10px; }


.gbx-people-pot .capsle-people {
 	background-color: #fff;
	border-radius: 9px;	
	display: inline-block;
	margin: 15px 2px;
	min-width: 90px;
	vertical-align: middle;
    text-align: center;
}
.gbx-people-pot .capsle-people img{
	float: left;	
}
.pot-capsle{
	position: absolute;	
}
.gbx-people-pot .capsle-people .people-text{
    font-family: SourceSansPro-Bold;
    font-size: 18px;
	color: #0D406B;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	padding-left: 3px;
	padding-right: 7px;
}

/*.capsle-people{ margin-top:0px; }*/

.game-tab-content .tab-pane{
	background-color: none;
	padding: 0px;
}
.game-tabs{
	border-bottom: none;
	
}
.game-tabs > li > a {
	border:  0px;
    background-color: #9caab6;
    border-radius: 0 0 22px 22px;
    color: #fff;
    font-family: SourceSansPro-Bold;
    font-size: 14px;
    line-height: 18px;
   padding: 10px 15px;
	cursor: pointer;
    z-index: 1;
}
.game-tabs > li:last-child > a{
  /*  margin-left: -10px;*/
    z-index: 0;
}
.game-tabs > li.active > a, .game-tabs > li.active > a:hover, .game-tabs > li.active > a:focus{
	background-color: #0d406b;
	color: #fff;
	border: none;
	cursor: pointer;
}
.game-tabs > li > a:hover, .game-tabs > li > a:focus {
    background-color: #0d406b;
	color: #fff;
	border: 0px;
}
.game-selection ul{
	padding-left: 0px;
	margin-bottom: 0px;
    float: right;
}
.e-fee{
    vertical-align: middle;
    display: inline-block;
    padding-top: 0px;
	text-align: left;
	line-height: 20px;
	margin-bottom: 5px;
    font-family: SourceSansPro-Semibold;
}

/* GAME BOX - As seen on Game Selection layout */

.game-box {
	background: #E9EDF1;
	
	min-width:280px;
	border-radius: 12px;
    margin-top: 25px;
    border: 2px solid #D1D8E1;
}
.selected-featured{
	border: 2px solid #F8EC1C !important;
}
.game-box-create-new{
	background-color: #F7F295 !important;
    border: 2px solid #F7EC1B !important;
	height: 275px;
}
.create-new{
    padding-top: 50px;
}
.game-box-top{
	border-radius: 10px 10px 0px 0px;	
}

.game-selection-fixture{
	background-color: #F7F8FA;
	border-radius: 12px;
	position: relative;
	height: 20px;	
	 margin: 0 15px;
}

.game-selection-fixture .fixture-img-left{
	left: 0px;
	position: absolute;
	bottom: -6px;
    width: 40px;
}
.game-selection-fixture .fixture-img-right{
	right: 0px;
	position: absolute;
	bottom: -6px;
    width: 40px;
}

.gbx-fixture {
	background: #FFFFFF;
	height: 70px;
}

.gbx-name {
	padding: 10px 5px;
}

.gbx-people-pot{
	background-color: #e9edf1;	
}
.player-choice{
    
   height: 33px;
    position: relative;
    right: 14px;
    text-align: right;
}	
.btn-view-game{
	background-color: #F8EC1C ;
	border-radius: 0px 0px 10px 10px;
	padding: 5px 5px;
	cursor: pointer;
}
.gbx-kickoff-time{
	vertical-align: middle;
    height: 30px;
	padding-top: 8px;
}
.kickof-time{
	font-family: SourceSansPro-Bold;
    font-size: 16px;
    color: #0D406B;
	border-radius: 8px 8px 0px 0px;
	width: 150px;
	margin: 0px auto;
	position: absolute;
	top: 6px;
    left: 30%;
}
.btn-closed-game{
	background-color: #9b9b9b !important;
}
.btn-closed-game h3{
    color: #fff !important;
}


@media screen and (min-width: 320px) and (max-width: 776px) {


    .game-selection ul {
        float: none;
    }

    .game-tab-content .carousel-selection-fixture .premier-team img {
        width: 50px;
    }

    .game-selection .capsle-people {
        margin-right: 5px !important;
    }

    .game-tab-content .premier-team .team-name {
        font-size: 12px;
        line-height: 14px;
        bottom: 25px;
    }

    .game-tab-content .carousel-selection-fixture .premier-team {
        width: 70px;
    }

    .game-slider .carousel-control.left {
        margin-left: -15px;
    }

    .game-slider .carousel-control.right {
        margin-right: -15px;
    }

    .fxt-time {
        font-size: 16px;
    }

    .e-fee {
        vertical-align: middle;
        display: block;
        padding-top: 10px;
		
    }
    .gbx-people-pot .capsle-people{
        margin-top: 15px;
    }
    .gbx-people-pot .capsle-people {
        margin-left: 3px;
        margin-right: 3px;
    }
    .create-new{
        padding-top: 0px;
    }   
    .game-box-create-new{
        height: auto;
    }
}



@media (min-width: 768px) and (max-width: 991px) {

    .game-selection ul {
        float: right;
    }

    .game-selection .capsle-people {
        margin-right: 5px !important;
    }

    .game-selection .capsle-people img {
        width: 25px;
    }

    .game-selection .capsle-people .people-text {
        line-height: 24px;
    }

    .fxt-time {
        font-size: 16px;
    }

    .game-tab-content .carousel-selection-fixture .premier-team img {
        width: 55px;
    }

    .game-tab-content .premier-team .team-name {
        font-size: 12px;
        line-height: 14px;
        bottom: 23px;
    }

    .game-tab-content .carousel-selection-fixture .premier-team {
        width: 75px;
    }

    .game-slider .carousel-control.left {
        margin-left: -30px;
    }

    .game-slider .carousel-control.right {
        margin-right: -30px;
    }

    .e-fee {
        vertical-align: middle;
        display: inline-block;
        padding-top: 0px;
    }
    .gbx-people-pot .capsle-people {
    margin-left: 10px;
    margin-right: 10px;
    }
    .kickof-time{
        left: 110px;
    }
    .game-tabs > li > a {
        padding: 10px 8px;
    }
    .create-new{
         padding-top: 50px;
    }
    .game-box-create-new{
        height: 275px;
    }
}






