<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Playzoola - Change password</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/playzoola_sportsIT.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">

    <link rel="icon" href="/images/favicon.png">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>
<body>
  
    <nav class="navbar navbar-default menur no-margin-bottom">
        <div class="container-fluid" id="supheader">
        </div>
    </nav>
    <div class="" id="ChangePassword"> </div>
    <div class="container-fluid header" id="footer"></div>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/jquery-2.2.1.js"></script>
    <script src="/build/common/config.js"></script>
    <script src="/build/common/globalFunctions.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/react.js"></script>
    <script src="/js/jquery.range.js"></script>
    <script src="/js/browser.min.js"></script>
    <script src="/js/bootstrap-toggle.min.js"></script>
    <script src="/js/browser-polyfill.js"></script>
    <script src="/js/react-dom.js"></script>
    <script src="/build/common/header.js"></script>
    <script src="/build/common/footer.js"></script>

    <script src="/build/views/Football/changepassword/changepassword.js"></script>
    <script type="text/babel">
        ReactDOM.render(
        <SupHeader isLog={is_loggedIn} />,
        document.getElementById('supheader')
        );
        ReactDOM.render(
        <ChangePassword />,
        document.getElementById('ChangePassword')
        );
        ReactDOM.render(
        <Footer isLog={is_loggedIn} />,
        document.getElementById('footer')
        );
    </script>
    <script src="/build/common/Chatservice.js"></script>
</body>
</html>