<div class="BP-footer">
  <div class="BP-container">    
      <div class="grid-middle-noGutter">
        <div class="col-12_sm-12_md-12_lg-12">
          <ul class="BP-footerLinks">
            <li class="" (click) ="gotoAboutus()">About us</li>
            <!-- <li class="" (click)="gotoHelp()">Help</li> -->
            <li class="" ><a href="http://www.bettorlogic.com/downloads/BetPropensity-UserGuide2019/index.html#other" target="_blank">Help</a></li>
            <!--<li class="">Privacy Policy</li>
            <li class="">Terms & Conditions</li>
            <li class="">Responsive Gambling</li>-->
            <li class="" (click) ="gotoContact()">Contact</li>
          </ul>
          <div class="BP-footerContent">
           
          </div>
        </div>
      </div>
      <div class="BP-footerCopyright">
        <div class="grid-middle-noGutter">
          <div class="col-6_sm-6_md-6_lg-6 BP-copyrightLeft">
            Copyright @2018 | All Rights Reserved
          </div>
          <div class="col-6_sm-6_md-6_lg-6 BP-poweredbyRight text-right">
            <span class="BP-footerPoweredby">Powered by </span>
            <img src="assets/img/Bettorlogic-logo.svg" class="BP-footerLogo" alt="Bettorlogic">
          </div>
        </div>
      </div>
    
  </div>
</div>
